.Movie {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  height: 300px;
  width: 200px;
  overflow: hidden;
  transition: 200ms all ease-in-out 100ms;
  cursor: pointer;
}

.Movie:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.55);
}

.Movie-poster {
  height: 100%;
  width: 100%;
  display: block;
}
